<div class="col-md-12 mt-3">
  <h1>{{title}}</h1>
  <swal #successToast [options]="{type: 'success', title: 'user successfully registered', toast: true, position: 'top',showConfirmButton: false,timer: 3000}"></swal>
  <swal #errorToast [options]="{type: 'error', title: 'verify the information entered', toast: true, position: 'top',showConfirmButton: false,timer: 3000}"></swal>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header">{{title}}</div>
          <div class="card-body">

            <form [formGroup]="form" (ngSubmit)="onRegister()">

              <div class="form-group row">
                <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>
                <div class="col-md-6">
                  <input id="name" type="text" class="form-control"
                         formControlName="name"
                         [ngClass]="{ 'is-invalid':(submitted && !fields.name.valid) || errors.name}">
                  <div *ngIf="(submitted && !fields.name.valid) || errors.name" class="invalid-feedback">
                    <small *ngIf="errors.name" class="text-danger">{{errors.name}}</small> <!-- Back-end errors -->
                    <small *ngIf="fields.name.errors.required && !errors.name" class="text-danger">Name field is required</small>
                    <small *ngIf="fields.name.errors.pattern && !errors.name" class="text-danger">This name is invalid</small>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>
                <div class="col-md-6">
                  <input id="email" type="text" class="form-control"
                         formControlName="email"
                         [ngClass]="{ 'is-invalid':(submitted && !fields.email.valid) || errors.email}">
                  <div *ngIf="(submitted && !fields.email.valid) || errors.email" class="invalid-feedback">
                    <small *ngIf="errors.email" class="text-danger">{{errors.email}}</small> <!-- Back-end errors -->
                    <small *ngIf="fields.email.errors.required && !errors.email" class="text-danger">Email field is required</small>
                    <small *ngIf="fields.email.errors.email && !errors.email" class="text-danger">Email must be a valid email address</small>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                <div class="col-md-6">
                  <input id="password" type="password" class="form-control"
                         formControlName="password"
                         [ngClass]="{ 'is-invalid':(submitted && !fields.password.valid) || errors.password }">
                  <div *ngIf="(submitted && !fields.password.valid) || errors.password" class="invalid-feedback">
                    <small *ngIf="errors.password" class="text-danger">{{errors.password}}</small> <!-- Back-end errors -->
                    <small *ngIf="fields.password.errors.required && !errors.password" class="text-danger">Password field is required</small>
                    <small *ngIf="fields.password.errors.minlength && !errors.password" class="text-danger">Password must be at least 6 characters</small>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-4 col-form-label text-md-right" for="conf_password">Confirm Password</label>
                <div class="col-md-6">
                  <input id="conf_password" type="password" class="form-control"
                         formControlName="confirmPassword"
                         [ngClass]="{ 'is-invalid': submitted && fields.confirmPassword.errors }" />
                  <div *ngIf="submitted && fields.confirmPassword.errors" class="invalid-feedback">
                    <small *ngIf="fields.confirmPassword.errors.required">Confirm Password is required</small>
                    <small *ngIf="fields.confirmPassword.errors.mustMatch">Passwords must match</small>
                  </div>
                </div>
              </div>

              <div class="form-group row mb-4">
                <div class="col-md-6 offset-md-4">
                  <button type="submit" class="btn btn-success">Register</button>
                </div>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
