<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <swal #infoToast [options]="{type: 'info', title: 'successfully logged out', toast: true, position: 'top',showConfirmButton: false,timer: 3000}"></swal>
    <a class="navbar-brand" href="#">NG-Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="auth">
          <a class="nav-link" href="#">Category</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right" *ngIf="auth">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{auth.getFullName()}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">New Post</a>
            <a class="dropdown-item" href="#">New Category</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" [routerLink]="['/settings']">Settings</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right" *ngIf="!auth">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
      </ul>

    </div>
  </nav>
  <router-outlet></router-outlet>
</div>

